  <p>
      Exibindo {{ projetos.length }} projetos.
  </p>
  
  <table>
    <thead>
    <tr>
      <th data-field="empresa">Empresa</th>
      <th data-field="sistema">Sistema</th>
      <th data-field="identificador">Identificador</th>
      <th data-field="titulo">Titulo</th>
      <th data-field="cadastrarFuncaoDados">Cadastrar Funções de Dados</th>
    </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let projeto of projetos">
        <td>{{ projeto.idEmpresa }}</td>
        <td>{{ projeto.idSistema }}</td>
        <td>{{ projeto.identificador }}</td>
        <td>{{ projeto.titulo }}</td>
        <td>
          <a [routerLink]="['/projetoDados', projeto.id]">
            <i class="material-icons">forward</i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
 

